$font-family-variable1: 'Catamaran', sans-serif;
$font-family-variable2: 'Grand Hotel', sans-serif;

$font-color-green: #6D9540;
$font-color-white: white;
$font-color-hover: #AFD980;
$font-color-card: #F0F5F8;

$bg-color-card: #F0F5F8;

$bg-color-icon: #ADD47F;

$header-bg-color: #b9c7d1;