body{
    background-image: linear-gradient(#00522e,#372e1d);
    color: white;
}

table,
tr,
th,
td {
    border: 2px solid black;
}

tr:hover,
th:hover,
td:hover {
    background-color: grey;
    color: white;
}

tr::selection,
th::selection,
td::selection {
    color: red;
}

tr:nth-child(even){
   background-color: greenyellow;
}

table {
    margin: 200px auto;
}