.buttons {
    display: flex;
}

#nest-messages {
    width: 75%;
    margin-top: 5%;
}

#signin {
    margin-left: 40%;
}

input {
    color: black !important;
}

label {
    color: white !important;
}