.component {
  .swiper-slide {
    .icons {
      position: absolute;
      width: 43% !important;
      padding: 10%;
      bottom: 4px;
      background-color: rgb(214, 202, 202);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;
      visibility: hidden;

      i {
        cursor: pointer;
        color: white;
        background-color: rgb(26, 15, 122);
        padding: 6%;
      }
    }
  }
}
